@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: Montserrat-Bold;
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}
@font-face {
  font-family: Quicksand;
  src: url("../fonts/Quicksand/Quicksand-Regular.ttf");
}
@font-face {
  font-family: Quicksand-Bold;
  src: url("../fonts/Quicksand/Quicksand-Bold.ttf");
}
a {
  text-decoration: none !important;
}

#flash-load {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 102;
}

.more {
  color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
  text-align: center;
  margin-top: 3rem;
}
.more i {
  display: inline-block;
  margin-right: 0.3rem !important;
}

.more:hover {
  color: #fff;
}

#introduction {
  margin-top: 4rem;
  padding-bottom: 3rem;
  background-color: #101010;
  color: #fff;
}
#introduction header {
  position: relative;
}
#introduction header .image {
  height: 400px;
}
#introduction header .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#introduction header .text {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#introduction header .text p {
  opacity: 0.8;
  text-transform: uppercase;
}
#introduction section h2 {
  margin: auto;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  padding-left: 0;
  display: inline-block;
  border-bottom: 2px solid #ca3737;
}
#introduction section p {
  font-family: Arial !important;
  opacity: 0.8;
}
#introduction section.detail-logo img {
  width: 50%;
}

#open-recruitment header {
  position: relative;
}
#open-recruitment header .image {
  height: 400px;
}
#open-recruitment header .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#open-recruitment header .text {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#open-recruitment header .text p {
  opacity: 0.8;
  text-transform: uppercase;
}
#open-recruitment main.content {
  margin-top: 5rem;
}
#open-recruitment main.content a {
  color: #ca3737;
}
#open-recruitment main.content .media {
  width: 100%;
  max-width: 480px;
  margin: auto;
}
#open-recruitment main.content .media video {
  border-radius: 6px;
  width: 100%;
}
#open-recruitment main.content .media .desc {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  background-color: #151515;
  font-size: 12px;
  font-family: Calibri;
  opacity: 0.75;
  text-align: center;
}
#open-recruitment main.content h2 {
  margin: auto;
  margin-bottom: 1rem;
  font-size: 25px;
  padding: 1rem 2rem;
  padding-left: 0;
  display: inline-block;
  border-bottom: 2px solid #ca3737;
}

#navbar {
  position: fixed;
  z-index: 99;
  left: 0;
  transition: 0.2s;
  top: 0;
  right: 0;
  height: 6rem;
  display: flex !important;
  align-items: center !important;
  padding: 0;
}
#navbar .navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar .navbar-brand img {
  height: 2.5rem;
  margin-right: 1rem;
}
#navbar .navbar-collapse {
  width: -moz-fit-content;
  width: fit-content;
}
#navbar .navbar-nav .nav-item {
  padding: 0 1rem;
  position: relative;
}
#navbar .navbar-nav .nav-item .nav-link {
  font-family: Quicksand;
  padding: 0.5rem;
  font-weight: bold;
  color: #fff;
}
#navbar .navbar-nav .nav-item .nav-link i {
  position: relative;
  top: 1px;
  left: 3px;
}
#navbar .navbar-nav .nav-item .nav-link.active {
  font-family: Quicksand;
  font-weight: bold;
  border-bottom: 2px solid #e85858;
}
#navbar .navbar-nav .nav-item .nav-link:hover {
  color: #e85858;
}
#navbar .navbar-nav .nav-item .menu {
  display: none;
}
#navbar .navbar-nav .nav-item:hover .menu {
  background-color: rgb(241, 241, 241);
  transform: translateX(-15%);
  border-radius: 4px;
  position: absolute;
  display: block;
  text-align: center;
}
#navbar .navbar-nav .nav-item:hover .menu .nav-link {
  color: #111;
  padding: 0.5rem 1rem;
}

#navbar.scroll {
  height: 4rem;
  background-color: rgba(0, 0, 0, 0.95);
}

#header {
  height: 97vh;
  background-color: #f5f5f5;
  position: relative;
}
#header .owl-carousel .owl-item .item {
  height: 97vh;
  position: relative;
}
#header .owl-carousel .owl-item .item .image img {
  height: 97vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
#header .owl-carousel .owl-item .item .image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}
#header .owl-carousel .owl-item .item .body {
  display: flex;
  height: 97vh;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 10%;
  justify-content: center;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: absolute;
  flex-direction: column;
  text-align: center;
}
#header .owl-carousel .owl-item .item .body .title {
  font-size: 5em;
  font-family: Quicksand;
}
#header .owl-carousel .owl-item .item .body .subtitle {
  width: 80%;
  font-family: Quicksand;
  margin-top: 1rem;
  font-size: 21px;
}
#header .owl-carousel .owl-item .item .body .btn.btn-ctf {
  margin-top: 1.5rem;
  padding: 0.5rem 2rem;
  font-size: 21px;
  border: 1px solid #fff;
  color: #fff;
  display: block;
}
#header .owl-carousel .owl-item .item .body .btn.btn-ctf:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
#header .owl-carousel .owl-item .item .body .btn.btn-ctf:active {
  opacity: 0.75;
}
#header .owl-carousel .owl-item.active .item .body .title {
  animation: fadeInBottom 0.5s ease forwards;
}
#header .owl-carousel .owl-item.active .item .body .subtitle {
  animation: fadeInBottom 1s ease forwards;
}
#header .owl-carousel .owl-item.active .item .body .btn.btn-ctf {
  animation: fadeInBottom 1.5s ease forwards;
}
#header #nav-carousel {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  z-index: 96;
}
#header #nav-carousel .container {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 40px;
}
#header #nav-carousel .container .prev, #header #nav-carousel .container .next {
  opacity: 0.5;
  cursor: pointer;
}
#header #nav-carousel .container .prev:hover, #header #nav-carousel .container .next:hover {
  opacity: 1;
}

#aboutUs {
  background-color: #1a1a1a;
  padding-bottom: 5rem;
}
#aboutUs .btn-started {
  width: 80px;
  height: 80px;
  z-index: 98;
  border-radius: 50%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  top: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #ac3333;
  cursor: pointer;
  background-color: #1a1a1a;
}
#aboutUs .btn-started i {
  transform: rotateZ(-90deg);
}
#aboutUs .btn-started:hover {
  background-color: #151515;
}
#aboutUs .main .introduction {
  padding: 0.8rem 1.2rem;
  background-color: #ac3333;
  transition: 0.3s;
  color: #fff;
  font-family: Arial;
  font-size: 18px;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 2rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  text-decoration: none;
}
#aboutUs .main .introduction:hover {
  background-color: #9b2a2a;
}

#visi {
  padding-top: 0rem;
  background-position: center center;
  background-size: cover;
  position: relative;
}
#visi .wafe {
  z-index: 95;
  top: 0;
  left: 0;
  display: none;
  right: 0;
  position: absolute;
  height: 220px;
  background-size: cover;
  transform: rotateZ(180deg);
  background-image: url("../images/wave3.svg");
}
#visi .main {
  padding: 3rem 0;
  background-color: rgba(172, 51, 51, 0.9);
}
#visi .main img {
  height: 100%;
}
#visi .main .head {
  margin-bottom: 1rem;
}
#visi .main .head h2 {
  color: #fff;
  font-size: 64px;
  font-weight: bold;
}
#visi .main .item {
  display: grid;
  grid-template-columns: auto 1fr;
}
#visi .main .item .dot {
  margin-top: 0.5rem;
  width: 10px;
  margin-right: 1.5rem;
  margin-left: 1rem;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}
#visi .main .item p {
  color: #fff;
}

#misi {
  background-position: center center;
  background-size: cover;
}
#misi .main {
  padding: 3rem 0;
  background-color: rgba(32, 32, 32, 0.9);
}
#misi .main img {
  width: 100%;
}
#misi .main .head {
  margin-bottom: 1rem;
}
#misi .main .head h2 {
  color: #fff;
  font-size: 64px;
  font-weight: bold;
}
#misi .main .item {
  display: grid;
  grid-template-columns: auto 1fr;
}
#misi .main .item .dot {
  margin-top: 0.5rem;
  width: 10px;
  margin-right: 1.5rem;
  margin-left: 1rem;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}
#misi .main .item p {
  color: #fff;
}

#topArrow {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  width: 64px;
  border-radius: 50%;
  height: 64px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.75);
  background-color: #ac3333;
  opacity: 0;
  z-index: 100;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 40px;
  transition: 0.3s;
}

#topArrow.show {
  opacity: 1;
}

#topArrow:hover {
  background-color: #9b2a2a;
}

#structural {
  background: linear-gradient(0, #202020 0%, #101010 100%);
  padding: 3rem;
  position: relative;
}
#structural .devider {
  background-color: #313131;
  height: 2px;
  width: 100%;
  border-radius: 4px;
  margin: 2rem auto;
}
#structural .devider .inner {
  background-color: #ca3737;
  height: 2px;
  width: 33.3%;
  margin: auto;
  border-radius: 4px;
}
#structural .head {
  color: #fff;
  padding: 0;
  margin-bottom: 3rem !important;
  text-align: center;
}
#structural .head h2 {
  font-weight: normal;
}
#structural .head .devider {
  width: 150px;
}
#structural .container {
  position: relative;
}
#structural .items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#structural .items .item {
  margin: 2rem auto;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 21px;
}
#structural .items .item .image {
  width: 200px;
  height: 200px;
  margin: auto;
  border: 4px solid #ac3333;
  border-radius: 50%;
  box-shadow: 10px 6px 3px rgba(0, 0, 0, 0.5);
  background-color: #111;
  overflow: hidden;
}
#structural .items .item .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
#structural .items .item .role {
  margin-top: 1rem;
  font-weight: bold;
}

footer {
  background-color: #1a1a1a;
}
footer .row {
  padding: 3rem 2rem;
  padding-bottom: 0;
}
footer .row .col-12 {
  padding-bottom: 3rem;
}
footer .row .head h2 {
  font-size: 30px;
  color: #fff;
}
footer .row .inp {
  width: 100%;
  padding: 4px 12px;
  border-radius: 4px;
  background-color: #202020;
  border: 1px solid #303030;
  outline: none;
  margin: 0.5rem 0;
  display: block;
  resize: vertical;
  box-sizing: border-box;
  color: #ddd;
}
footer .row button {
  padding: 4px 12px;
  outline: none;
  border-radius: 4px;
  background-color: #ac3333;
  border: 0;
  color: #fff;
}
footer .row button:hover {
  background-color: #9b2a2a;
}
footer .row .items .item {
  color: #fff;
}
footer .row .items .item a {
  text-decoration: none;
  color: #fff;
  font-size: 21px;
  opacity: 0.75;
}
footer .row .items .item a i {
  margin-right: 1rem;
}
footer .row .items .item a:hover {
  opacity: 1;
}
footer .credits {
  background-color: #111;
  padding: 0.5rem 0;
  color: rgba(255, 255, 255, 0.8);
}
footer .credits .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}
footer .credits .container .socmeds .item {
  padding: 0 1rem;
  font-size: 24px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}
footer .credits .container .socmeds .item:hover {
  color: #fff;
}

#articles {
  min-height: 100vh;
  background-color: #202020;
  padding-top: 8rem;
  padding-bottom: 3rem;
  color: #fff;
}
#articles .notFound {
  height: 100vh;
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;
}
#articles .notFound img {
  height: 200px;
}
#articles .head {
  text-align: center;
}
#articles .head h2 {
  font-weight: bold;
}
#articles .head .devider {
  height: 0.5px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 200px;
  position: relative;
  border-radius: 1px;
  margin: 1.5rem auto;
}
#articles .head .devider::after {
  content: "";
  position: absolute;
  top: 0;
  height: 1px;
  width: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ca3737;
}
#articles .items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
#articles .items .item {
  overflow: hidden;
  background-color: #1a1a1a;
  border-radius: 4px;
  display: block;
  text-decoration: none;
  color: #fff;
}
#articles .items .item .image {
  background-color: #151515;
  height: 160px;
}
#articles .items .item .image img {
  width: 100%;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
#articles .items .item .body {
  padding: 1rem;
}
#articles .items .item .body .title {
  font-size: 20px;
}
#articles .items .item .body p {
  font-size: 12px;
  opacity: 0.75;
}
#articles .items .item .body .meta .date {
  font-size: 12px;
}
#articles .items .item:hover {
  background-color: #171717;
}

#events {
  min-height: 100vh;
  background-color: #202020;
  padding-top: 8rem;
  padding-bottom: 3rem;
  color: #fff;
}
#events .notFound {
  height: 100vh;
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;
}
#events .notFound img {
  height: 200px;
}
#events .head {
  text-align: center;
}
#events .head h2 {
  font-weight: bold;
}
#events .head .devider {
  height: 0.5px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 200px;
  position: relative;
  border-radius: 1px;
  margin: 1.5rem auto;
}
#events .head .devider::after {
  content: "";
  position: absolute;
  top: 0;
  height: 1px;
  width: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ca3737;
}
#events .items .item {
  overflow: hidden;
  background-color: #1a1a1a;
  border-radius: 6px;
  position: relative;
  margin: 2rem 0;
  display: block;
  text-decoration: none;
  color: #fff;
}
#events .items .item .image {
  background-color: #151515;
}
#events .items .item .image img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
#events .items .item .body {
  position: absolute;
  top: 0;
  opacity: 1;
  left: 0;
  transition: 0.3s;
  right: 0;
  bottom: 0;
  background: linear-gradient(0, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%);
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
#events .items .item .body .wrap {
  transition: 0.3s;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  text-align: center;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  top: 90%;
}
#events .items .item .body .title {
  font-size: 32px;
}
#events .items .item .body p {
  font-size: 12px;
  opacity: 0.75;
}
#events .items .item .body .meta {
  color: rgba(255, 255, 255, 0.75);
}
#events .items .item .body .meta .date {
  font-size: 12px;
}
#events .items .item:hover .body {
  background: linear-gradient(0, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 50%);
}
#events .items .item:hover .body .wrap {
  top: 50%;
}

#storyline {
  padding-top: 4rem;
  background-color: #202020;
}
#storyline .items .item {
  height: 500px;
  background-color: #101010;
}
#storyline .items .item .line {
  width: 0;
  border-right: 2px dashed rgba(255, 255, 255, 0.5);
  height: 500px;
}
#storyline .items .item .line .circle {
  position: relative;
  top: 50%;
  border-radius: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 100px;
  height: 100px;
  background-color: #101010;
  border: 2px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  font-family: Quicksand-Bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}
#storyline .items .item:nth-child(even) {
  background-color: #ca3737;
}

.vbox-container {
  overflow: hidden;
}

#documentation {
  min-height: 100vh;
  background-color: #202020;
  padding-top: 8rem;
  padding-bottom: 3rem;
  color: #fff;
}
#documentation .head {
  text-align: center;
}
#documentation .head h2 {
  font-weight: bold;
}
#documentation .head .devider {
  height: 0.5px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 200px;
  position: relative;
  border-radius: 1px;
  margin: 1.5rem auto;
}
#documentation .head .devider::after {
  content: "";
  position: absolute;
  top: 0;
  height: 1px;
  width: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ca3737;
}
#documentation .container .items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
#documentation .container .items .item img, #documentation .container .items .item iframe {
  width: 100%;
  min-height: 200px;
  max-height: 300px;
  border-radius: 6px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

#programs {
  padding-top: 4rem;
  padding-bottom: 3rem;
}
#programs .head {
  text-align: center;
}
#programs .head h2 {
  font-weight: bold;
}
#programs .head .devider {
  height: 0.5px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 200px;
  position: relative;
  border-radius: 1px;
  margin: 1.5rem auto;
}
#programs .head .devider::after {
  content: "";
  position: absolute;
  top: 0;
  height: 1px;
  width: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ca3737;
}

#recruitment {
  min-height: 100vh;
  background-color: #202020;
  padding-top: 4rem;
  padding-bottom: 3rem;
  color: #fff;
}
#recruitment .head {
  text-align: center;
}
#recruitment .head h2 {
  font-weight: bold;
}
#recruitment .head .devider {
  height: 0.5px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 200px;
  position: relative;
  border-radius: 1px;
  margin: 1.5rem auto;
}
#recruitment .head .devider::after {
  content: "";
  position: absolute;
  top: 0;
  height: 1px;
  width: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ca3737;
}
#recruitment .card {
  background-color: #1a1a1a;
  margin-top: 1rem;
}
#recruitment .card .form-group {
  margin-bottom: 1rem;
}
#recruitment .card .form-group .form-control {
  margin-top: 0.5rem;
  background-color: #171717;
  border: 1px solid #ac3333;
  color: #fff;
  font-family: Calibri;
}
#recruitment .card .form-group .form-control:focus {
  box-shadow: 0 0 4px 0.2rem rgba(172, 51, 51, 0.5);
}

#article, #open-recruitment {
  min-height: 100vh;
  background-color: #202020;
  padding-top: 4rem;
  padding-bottom: 3rem;
  color: #fff;
}
#article img, #open-recruitment img {
  border-radius: 6px;
}
#article .image img, #open-recruitment .image img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
#article .head, #open-recruitment .head, #article .content, #open-recruitment .content {
  width: 75%;
  margin: auto;
}
#article .head span, #open-recruitment .head span, #article .content span, #open-recruitment .content span {
  color: #fff !important;
}
#article .head, #open-recruitment .head {
  padding: 2rem 0;
}
#article .head .title, #open-recruitment .head .title {
  font-size: 48px;
  text-transform: capitalize;
  font-family: Quicksand-Bold;
}
#article .head .meta, #open-recruitment .head .meta {
  color: rgba(255, 255, 255, 0.75);
}

#detailStructural {
  min-height: 100vh;
  background-color: #202020;
  padding-top: 8rem;
  padding-bottom: 3rem;
  color: #fff;
}

#user {
  background-color: #101010;
  color: #fff;
}
#user .user-container {
  width: 60%;
  padding: 3rem;
  background-color: #202020;
  border-radius: 8px;
  margin: 3rem auto;
  margin-top: 6rem;
}
#user .user-container .nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  padding-bottom: 1rem;
  gap: 1rem;
}
#user .user-container .nav .nav-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}
#user .user-container .nav .nav-link.active {
  background-color: #fff;
  color: #101010;
}
#user .user-container .user-content {
  padding: 1rem 0;
  max-height: 70vh;
  overflow-y: auto;
}
#user .user-container .user-content #profile {
  display: grid;
  gap: 1rem;
}
#user .user-container .user-content #profile .banner {
  width: 100%;
  height: 250px;
  border-radius: 8px;
  background-color: #414141;
  position: relative;
}
#user .user-container .user-content #profile .banner .picture {
  position: absolute;
  bottom: -1rem;
  left: 1rem;
}
#user .user-container .user-content #profile .banner .picture img {
  width: 100px;
  border-radius: 8px;
}
#user .user-container .user-content #profile .bio {
  padding: 1rem;
}
#user .user-container .user-content #profile .bio-quote {
  display: flex;
  background-color: #303030;
  padding: 1rem;
  border-radius: 8px;
  position: relative;
  margin-top: 1rem;
}
#user .user-container .user-content #profile .bio-quote .bio-icon {
  left: 10px;
  top: 10px;
  font-size: 13px;
  position: absolute;
}
#user .user-container .user-content #profile .bio-quote .bio-text {
  padding: 1rem;
  align-self: center;
  padding-right: 1rem;
  color: #aaa;
}
#user .user-container .user-content #notifications .notification {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #303030;
  border-radius: 8px;
  margin-bottom: 1rem;
}
#user .user-container .user-content #notifications .notification .content {
  padding: 1rem 0;
}
#user .user-container .user-content #notifications .notification .content .title {
  font-weight: bold;
}
#user .user-container .user-content #notifications .notification .content .subtitle {
  color: #aaa;
}
#user .user-container .user-content #notifications .notification .notification-icon {
  padding: 1.5rem;
  align-self: flex-start;
}
#user .user-container .user-content #notifications .notification .notification-icon.status {
  color: green;
}
#user .user-container .user-content #notifications .notification .notification-icon.delete {
  color: #707070;
  cursor: pointer;
}
#user .user-container .user-content #notifications .notification .notification-icon.delete:hover {
  color: #aaa;
}
#user .user-container .user-content #notifications .notification .notification-icon.delete:active {
  color: red;
}
#user .user-container .user-content #notifications .notification.new .notification-icon.status {
  color: red;
}
@media (max-width: 992px) {
  #user .user-container {
    width: 90%;
    padding: 0;
    background: none;
  }
  #user .user-container .nav .nav-link .nav-text {
    display: none;
  }
}

@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@media (min-width: 992px) {
  #sidebar {
    display: none;
  }
}
@media (max-width: 992px) {
  #article .head, #open-recruitment .head, #article .content, #open-recruitment .content {
    width: 100%;
  }
  #events .items .item .image img {
    height: 300px;
  }
  #articles .items {
    grid-template-columns: 1fr 1fr;
  }
  #documentation .container .items {
    grid-template-columns: 1fr 1fr;
  }
  #header .owl-carousel .owl-item .body .title {
    font-size: 3em !important;
  }
  #header .owl-carousel .owl-item .body .subtitle {
    margin-top: 0.5rem !important;
    font-size: 14px !important;
  }
  #header .owl-carousel .owl-item .body .btn.btn-ctf {
    margin-top: 0.5rem !important;
    font-size: 14px !important;
  }
  #visimisi .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: -moz-fit-content;
    height: fit-content;
  }
  #visimisi .container .devider {
    height: 0;
    width: 80%;
    border: 0;
    border-bottom: 1px solid #ddd;
    margin: 1rem auto;
  }
  #navbar .navbar-collapse {
    width: 100%;
  }
  #navbar .navbar-brand, #navbar button {
    position: relative;
    z-index: 99;
  }
  #navbar .navbar-nav {
    position: fixed;
    padding-top: 5rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #111;
    z-index: 96;
    transition: 0.3s;
  }
  #navbar .navbar-nav .nav-item {
    width: 80%;
    margin: 0.5rem auto;
    text-align: center;
  }
  #navbar .navbar-nav .nav-item .nav-link, #navbar .navbar-nav .nav-item .nav-btn {
    display: block;
    padding: 1rem 0 !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  #navbar .navbar-nav .nav-item .btn {
    width: 100%;
  }
  #content .items {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 575px) {
  #article .head .title, #open-recruitment .head .title {
    font-size: 24px;
  }
  #article .head .meta .date, #open-recruitment .head .meta .date {
    font-size: 12px;
  }
  #article .content p, #open-recruitment .content p {
    font-size: 14px;
  }
  #article img, #open-recruitment img {
    width: 100% !important;
  }
  #events .items .item .image img {
    height: 200px;
  }
  #events .items .item .body .title {
    font-size: 24px;
  }
  #events .items .item .body .meta .date {
    font-size: 11px;
  }
  #articles .items {
    grid-template-columns: 1fr;
  }
  #content .items {
    grid-template-columns: 1fr;
  }
  #content .items .item .image {
    height: 200px;
  }
  #content .items .item .image img {
    height: 200px;
  }
  #documentation .container .items {
    grid-template-columns: 1fr;
  }
  #header .owl-carousel .owl-item .body {
    padding: 0 1rem !important;
  }
  #header .owl-carousel .owl-item .body .title {
    font-size: 2em !important;
  }
  #header .owl-carousel .owl-item .body .subtitle {
    margin-top: 0.5rem !important;
    font-size: 12px !important;
  }
  #header .owl-carousel .owl-item .body .btn.btn-ctf {
    margin-top: 0.5rem !important;
    font-size: 12px !important;
  }
  footer .credits .container .copy {
    font-size: 12px;
  }
  footer .credits .container .socmeds .item {
    font-size: 16px;
    padding: 0 0.5rem;
  }
}
.auth .inp {
  width: 100%;
  padding: 4px 12px;
  border-radius: 4px;
  background-color: #202020;
  border: 1px solid #303030;
  display: block;
  outline: none;
  margin: 0.5rem 0;
  resize: vertical;
  box-sizing: border-box;
  color: #ddd;
}/*# sourceMappingURL=index.css.map */