// body {
//     background-color: #f1f1f1;
// }
// .wrapper {
//     background-color: #fff;
//     padding: 3rem;
//     width: 595px;
//     margin: auto;
//     height: 842;
//     main {
//         display: grid;
//         grid-template-columns: 30% 70%;
//         align-items: center;
    
//         .photo {
//             text-align: center;
//             padding: 1rem 0;
//             img {
//                 width: 106.2px;
//                 height: 141.6px;
//             }
//         }
//         .meta {
//             display: grid;
//             grid-template-columns: 1fr 1fr;
//             gap: 1rem;
//             .table {
//                 td {
//                     padding: .3rem .5rem;
//                     // background-color: #fafafa;
//                 }
//             }
//         }
//     }    
// }

.w-footer {
    border-bottom: 2px dashed rgba($color: #000000, $alpha: 0.3);
}
.wrapper {
    padding: 0 7rem;
    font-family: 'Times New Roman';
    margin: auto;
    header {
        border-bottom: 3px double #000;
        margin-bottom: 2rem;
        padding: 0 1rem;
        padding-top: .8rem;
        display: grid;
        align-items: center;
        grid-template-columns: auto 2fr auto;
        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                height: 5rem;
            }
        }
        .text {
            text-align: center;
            div {
                font-size: 16px;
                font-weight: bold;
                text-transform: uppercase;
            }
            p {
                font-size: 11px;
            }
        }
    }
    main {
        img.photo {
            object-fit: cover;
            object-position: center center;
            width: 4cm;
            height: 5cm;
        }
        .table {
            font-size: 14px;
            td {
                padding: 6px;
                // width: 50%;
            }
        }
        .ttd-right {
            margin: auto;
            margin-right: 0;
        }
        .ttd {
            width: 250px;
            margin-top: 3rem;
            margin-bottom: 2rem;
        }
        .d-ttd {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
}